.container {
    padding: 0px 29.7%;   
    min-height: 100vh;
    font-family: Roboto;
    background: linear-gradient(180deg, #46529D 10%, #5671cc 55%);
} /* linear-gradient(180deg, 4#6529D 10%, #5671cc 90% 100%, #ffffff 100% 100%); */
.primary_inner_container {
    width: 680px;
    position: relative;
    -webkit-animation: conditionalOpen 1s normal forwards ease-in-out;
    -moz-animation: conditionalOpen 1s normal forwards ease-in-out;
    animation: conditionalOpen 1s normal forwards ease-in-out;
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    transform-origin: 25% 0%;
}
@-webkit-keyframes conditionalOpen {
    from { transform: scaleY(0) }
    to { transform: scaleY(1) }
}
@-moz-keyframes conditionalOpen {
    from { transform: scaleY(0) }
    to { transform: scaleY(1) }
}
@keyframes conditionalOpen {
    from { transform: scaleY(0) }
    to { transform: scaleY(1) }
}
.container_inner {
    position: relative;
    display: flex;
    width: 680px;
    height: 285px;
    background: url('../images/background.jpg');
    background-size: 100% 100%;
}
.progress_bar {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    background: linear-gradient(to right,#A598F9 40%, #2EBAEE)

}
.title_column {
    position: relative;
    min-width: 440px;
}
.today_date, .today_time {
    position: absolute;
    bottom: 45px;
    left: 30px;
    color: #ffffff;
    opacity: 0.5;
}
.today_time {
    left: 99px;
    bottom: 25px;
}
.statistics_column {
    position: relative;
    min-width: 240px;
    background-color: #00000030;
}
.title {
    width: 145px;
    margin-top: 95px;
    margin-left: 40px;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 300;
    text-transform: uppercase;
    color: #ffffff;
}
.tasks_types {
    display: grid;
    grid-template-columns: 55px 55px;
    column-gap: 55px;
    row-gap: 5px;
    margin-top: 125px;
    justify-items: end;
    padding: 0 42px;
    color: #ffffff;
}
.tasks_nr {
    font-size: 26px;
}
.task_type {
    font-size: 14px;
    opacity: 0.5;
}
.progress_circle {
    position: absolute;
    left: 55px;
    bottom: 45px;
    width: 25px;
    height: 25px;
    border: solid 1px #A598F9;
    border-radius: 20px;
    

}
.fullfilled_percent {
    position: absolute;
    left: 95px;
    bottom: 48px;
    font-size: 14px;
    color: #ffffff;
    opacity: 0.5;
}
.inner-container {
    width: 680px;
}
.incoming-tasks-container {
    width: 680px;
    padding-top: 25px;
    background-color: #ffffff;
}
.tasks-title {
    margin-left: 30px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    color: #898C9C;
}
/*arrows*/ 
.incoming-tasks-container .arrow_moficator {
    right: 45px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #232160;
    pointer-events: all;
    transition:  0.3s ease-in-out transform, 0.3s ease-in-out border-color;
}
.incoming-tasks-container .arrow_moficator:hover {
   transform: rotate(900deg);
   border-bottom-color: #F0C453; 
   cursor: pointer;
   transition:  0.3s ease-in-out transform, 0.3s ease-in-out border-color;
}
.task {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 37px;
    margin-top: 25px;
    padding-bottom: 30px;
    border-bottom: solid 1px #A8A8A8;
}
.task-icon-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid 1px #E5E5E5; 
    box-sizing: border-box;   
  }
 
  .task_icon {
      display: block;
      
  }
  .task_information {
      flex-basis: 350px;
      max-width: 350px;
      word-break: break-all;
     
  }
  .task-text {
      font-size: 16px;
      margin-bottom: 5px;
    
  }
  .task-text-modificator {
    text-decoration: line-through;
  }
  .task-location {
    font-size: 14px;
    color: #A8A8A8;
  }
  .task_date_created {
    display: grid;
    flex-basis: 125px;
    font-size: 14px;
    color: #A8A8A8;
  }
  .task_date {
      margin-bottom: 5px;
  }
  .task_time {
      justify-self: flex-end;
      padding-right: 5px;
  }
  /*BUTTONS*/
  .control_buttons {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 7px;
    right: 0px;
    border: soild 2px #000000;
  }
  .control_button {
    display: flex;
    justify-content: center;
    align-items: center;
    transition:  0.3s ease-in-out background-color, 0.3s ease-in-out transform;
  }
  .control_button:hover {
    background: #F0C453; 
    cursor: pointer;
    transform: rotate(360deg);
    z-index: 5;
    transition:  0.3s ease-in-out background-color, 0.3s ease-in-out transform;
  }
  .edit_button_container {
      position: relative;
      background: linear-gradient(380deg, #A598F9, #5671CC);
  }
  .edit_button_container::after {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    background-image: url('../images/pencil.png');
    background-size: 25px 25px;
  }
  .delete_button_container {
    background: linear-gradient(405deg, #FF3366, #FF6C6C); /*    background: linear-gradient(380deg, #FF3366, #FF6C6C);*/
}
.delete_button_container::after {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    background-image: url('../images/delete.png');
    background-size: 25px 25px;
    
  }
.done_button_container {
    background: linear-gradient(#232160 30%, #A598F9);
}
.done_button_container::after {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    background-image: url('../images/check.png');
    background-size: 25px 25px;
  }
  .control_button {
      width: 40px;
      height: 40px;
      outline: none;
      border: none;
      border-radius: 50%;
      margin-right: 10px;
  }
  .control_button:last-child {
      margin-right: 0px;
  }
  .fulfilled-tasks-container {
      position: relative;
      display: grid;
      grid-template-columns: 120px 40px;
      column-gap: 12px;
      align-items: center;
      margin-left: 30px;
  }
  .incoming-tasks-container-modificator {
    grid-template-columns: 90px 40px;

  }
  .tasks_padding_modificator {
      padding-bottom: 100px;
  }
  .fulfilled-tasks-container-title {
    margin-left: 0px;
  }
  .fulfilled-tasks-container-quantity {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      font-size: 14px;
      font-weight: 500;
      background-color: #898C9C;
      color: #ffffff;
  }


  .task-icon-container-modificator {
    background: linear-gradient(to left,#A598F9 60%, #2EBAEE);
    padding: 1px;
}
.task_icon_inner_container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background: #ffffff;
}
.fulfilled-task-modificator {
    text-decoration: line-through;
}
.new_task_container {
    position: absolute;
    right: 75px;
    bottom: 10px;
}
.new_task {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-decoration: none;
    background-color:  #2EBAEE;
    box-shadow: -2px 9px 60px #2EBAEE;
    transition: 0.3s ease-in-out box-shadow,0.3s ease-in-out  background, 0.3s ease-in-out cursor;
}
.new_task:hover {
    box-shadow: -2px 9px 60px #2eaaee;
    background: #2eaaee;
    cursor: pointer;    
}
.new_task::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 26%;
    width: 50px;
    height: 2px;
    background-color: #ffffff;
}
.new_task::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 26%;
    width: 50px;
    height: 2px;
    transform: rotate(90deg);
    background-color: #ffffff;
}
/*animations*/
.line_through_text {
    text-decoration: line-through;
    text-decoration-color: #000000;
    animation: ease-out 1s line_through;
}
@keyframes line_through {
    0% {text-decoration-color: transparent}
    100% {text-decoration-color: #000000}
}
.flash_border {
    animation: ease-out 1s flash_border;  
}
@keyframes flash_border {
    0% {box-shadow: 0px 0px 10px transparent, 0px 0px 10px transparent, 0px 0px 10px transparent, 0px 0px 10px transparent;}
    50% {box-shadow: 5px 10px 40px #9788f7, -5px -10px 40px #9788f7, 10px -5px 40px #9788f7, -10px 5px 40px #9788f7;}/*#232160*/
    100% {
        box-shadow: 0px 0px 10px transparent, 0px 0px 10px transparent, 0px 0px 10px transparent, 0px 0px 10px transparent;
    } 
}

/*removing animation*/

.remove_task_anim {
    animation: removed-item-animation 1s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;
    
    transform-origin: 0% 100%;
}
 
@keyframes removed-item-animation {
    0% {
        opacity: 1;
        transform: rotateZ(0);
}
 
    100% {
        opacity: 0;
        transform: translateY(600px) rotateZ(90deg);
    }
}
#style_arrow {
    transform: rotate(720deg);
    border-bottom-color: #F0C453;
}