.container_new_task {
    padding: 0px 29.7%;
    min-height: 100vh;
    font-family: Roboto;
    background: linear-gradient(180deg, #19194fea , #545295c2 55%) ;
} 
.container_inner_new_task {
    position: relative;
    width: 680px;
    min-height: 100vh;
    background-color: #46529D;
}
.back {
    position: absolute;
    left: 50px;
    top: 50px;
    text-decoration: none;
}
.back:hover {
    animation: 2s ease-in-out arrow_fade infinite;
}
@keyframes arrow_fade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.central_line {
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: #2EBAEE;
}
.central_line::before {
    position: absolute;
    top: -8px;
    left: -3px;
    content: '';
    width: 25px;
    height: 3px;
    transform: rotate(-40deg);
    background-color: #2EBAEE;
}
.central_line::after {
    position: absolute;
    top: 8px;
    left: -2px;
    content: '';
    width: 25px;
    height: 3px;
    transform: rotate(40deg);
    background-color: #2EBAEE;
}
.page_title_container {
    display: flex;
    justify-content: center;
    padding-top: 35px;
    margin-bottom: 35px;
    font-size: 24px;
    font-weight: 300;
    color: #ffffff;

}
.new_task_icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 130px;
    border-radius: 50%;
    border: solid 1px #6D73AD;
}
.new_task_form {
    margin-left: 48px;
    margin-right: 48px;
}
.new_task_form_item {
   
    display: block;
    width: 100%;
    padding: 0;
    padding-bottom: 12px;
    border: 0;
    border-bottom: solid 1px #6D73AD;
    margin-bottom: 50px;
    font-size: 18px;
    background-color: transparent;
    color: #ffffff;
}
.new_task_form_item:focus {
    outline: none;
}
.new_task_category_wrapper {
    position: relative;
    cursor: pointer;
    z-index: 1;
}
.new_task_category {
    -webkit-appearance: none;
   -moz-appearance: none;
   cursor: pointer;
}
 /*arrows*/
.select_arrow {
    position: absolute;
    right: 0px;
    top: 12px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #6D73AD;
    transform: rotate(180deg);
    pointer-events: none;
}
/*small circle*/
.new_task_category_wrapper::before {
    position: absolute;
    left: 100px;
    top: 8px;
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #F0C453;
}


.new_task_form_item::placeholder {
    color: #6D73AD; height: initial;
}
.new_task_category_wrapper:hover .select_arrow{
   transform: rotate(540deg);
   border-bottom-color: #F0C453; 
   transition:  0.3s ease-in-out transform,0.3s ease-in-out border-color;
}
.new_task_category:hover , .new_task_form_item:focus {
    border-color: #F0C453;
    transition:  ease-in-out border-color;
}

.new_task_text_wrapper, .new_task_location_wrapper, .new_task_date_wrapper {
    position: relative;
}
.times{
    display: none;
    position: absolute;
    right: -1.5px;
    top: 0px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 50%;
    background: #6D73AD;
}
.times:hover {
    background: #F0C453;
    transition:  ease-in-out background;
}
.times::after, .times::before {
    content: '';
    position: absolute;
    right: 5px;
    top: 12.5px;
    width: 15px;
    height: 1px;
    background: #ffffff;
}
.times::after {
    transform: rotate(45deg);
}
.times::before {
    transform: rotate(-45deg);
}
.new_task_text:focus + .times{
    display: block;
  
}
.new_task_location:focus + .times{
    display: block;
  
}
.new_task_date:focus + .times{
    display: block;
  
}
.add_new_task {
    display: block;
    padding: 35px 165px;
    width: 584px;
    height: 90px;
    margin-top: 30px;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #2EBAEE;
}
.add_new_task:hover {
    box-shadow: -2px 9px 30px #2eaaee;
    background: #2eaaee;
    cursor: pointer;
    transition: 0.3s ease-in-out box-shadow,0.3s ease-in-out  background, 0.3s ease-in-out cursor;
}